{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-lg-6">
        <div class="card shadow-lg border-0 rounded-lg mt-5">
            <div class="card-header bg-primary text-white">
                <h3 class="text-center font-weight-light my-2">تسجيل حساب جديد</h3>
            </div>
            <div class="card-body">
                <form method="POST" action="{{ url_for('auth.register') }}">
                    {{ form.hidden_tag() }}
                    <div class="mb-3">
                        {{ form.username.label(class="form-label") }}
                        {{ form.username(class="form-control", placeholder="أدخل اسم المستخدم") }}
                        {% for error in form.username.errors %}
                            <div class="text-danger">{{ error }}</div>
                        {% endfor %}
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            {{ form.password.label(class="form-label") }}
                            {{ form.password(class="form-control", placeholder="أي كلمة مرور") }}
                            {% for error in form.password.errors %}
                                <div class="text-danger">{{ error }}</div>
                            {% endfor %}
                        </div>
                        <div class="col-md-6">
                            {{ form.password2.label(class="form-label") }}
                            {{ form.password2(class="form-control", placeholder="أعد إدخال كلمة المرور") }}
                            {% for error in form.password2.errors %}
                                <div class="text-danger">{{ error }}</div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="d-grid">
                        {{ form.submit(class="btn btn-primary btn-block") }}
                    </div>
                </form>
            </div>
            <div class="card-footer text-center py-3">
                <div class="small">
                    <a href="{{ url_for('auth.login') }}">لديك حساب بالفعل؟ سجل دخولك!</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
